<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
  <!-- Favicons -->
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="{%static 'userRegistration/reg.css'%}" rel="stylesheet">
  <script src="{%static 'userRegistration/reg.js'%}"></script>


  <!-- Template Main CSS File -->


    <title>Title</title>
</head>
<body>
<div class="container">
    <h4>Registration</h4>
<div class="row">
    <form class="col s12" id="reg-form" method="post" action="register">
  {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" name="username" placeholder="Username" class="validate" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" name="first_name" placeholder="First Name" class="validate" required>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text"name="last_name" placeholder="Last Name"class="validate" required>

        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" placeholder="Email" class="validate" required>

        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" placeholder="Password" class="validate" minlength="6" required>
        </div>
      </div>
         <div class="row">
        <div class="input-field col s12">
          <input  type="password" name="cpassword" placeholder="Confirm Password" class="validate" minlength="6" required>
        </div>
      </div>
      <div class="row">


        <div class="input-field col s6">
          <button class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Register
          </button>
        </div>
          <div class="col s6">
           {%for msg in messages%}
      <p style="color:red;">{{msg}}</p>
     {%endfor%}
        </div>
      </div>
    </form>

  </div>

  <!--<a title="Login" class="ngl btn-floating btn-large waves-effect waves-light red"><i class="material-icons">input</i></a>-->

</div>




</body>
</html>